body{
    font-family: 'Poppins', sans-serif;
}

.container{
    padding-left: 0;
    padding-right: 0;
}

.w-60{
    width: 60%;
}

.navbar-brand img {
    width: 150px;
    margin-top: 20px;
}

.navbar{
    padding: 1rem 0 0 0;
    font-size: .8rem;
    font-weight: 500;
    background-color: white;
    margin-bottom: 100px;
}

.carousel{
    top: -117px;
}

.banner-info{
    margin-top: 15%;
}

.banner-info p{
    font-weight: 300;
    color: gray;
}

.btn-dark{
    background-color: rgb(20, 20, 20);
}

.carousel img{
    margin-left: 2%;
    position: relative;
    top: -30px;
}

.carousel-indicators .active{
    background-color: orange;
    width: 24px;
    border-radius: 40%;
}

.carousel-indicators li{
    background-color: gray;
    height: 11px;
    width: 11px;
    border-radius: 50%;
}

h2{
    font-size: 1.7rem;
}

.cat-header a{
    color: rgba(255, 166, 0, 0.849);
    font-weight: 500;
    font-size: 1rem;
}

.cat-header a:hover{
    color: orange;
}

.card-deck{
    padding: 20px;
}

.card-img-top{
    width: 80%;
    margin: auto;
    padding: 15px;
}

.card{
    padding: 10px;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 25px #80808029;
}

.card-text{
    font-size: .8rem;
    font-weight: 300;
    color: grey;
}

.card-footer{
    background-color: transparent;
    border-top: none;
    border-radius: 15px;
}

.padding-t-100{
    padding-top: 100px;
}

.padding-b-100{
    padding-bottom: 100px;
}

.cat-section{
    padding-top: 150px;
}

.highlight-bar-bottom{
    height: 5px;
    width: 100px;
    background-image: linear-gradient(45deg, rgb(255, 187, 0), #ff6600d1);
    border-radius: 50px;
    margin: auto;
}

.cat-card{
    padding: 15px 25px;
}

.cat-card .card-img-top{
    width: 65%;
    padding: 0;
    margin-top: 20px;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

.cat-card-link{
    color: rgba(0, 0, 0, 0.856);
}

.cat-card-link:hover{
    color: orange;
    text-decoration: none;
}